n8n_email_workflow.json
{
  "name": "Dream 100 - Email CSV Results",
  "nodes": [
    {
      "parameters": {
        "path": "d3ce78b4-3da7-4efd-92aa-b0c154f5858b",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract data from webhook payload\nconst recipientEmail = items[0].json.recipient_email;\nconst csvContent = items[0].json.csv_content;\nconst subject = items[0].json.subject;\n\n// Convert CSV content to base64 for attachment\nconst csvBase64 = Buffer.from(csvContent).toString('base64');\n\nreturn [\n  {\n    json: {\n      recipient_email: recipientEmail,\n      subject: subject,\n      csv_base64: csvBase64,\n      csv_content: csvContent\n    }\n  }\n];"
      },
      "name": "Process CSV Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipient_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "<h2>Dream 100 Batch Processing Complete ✅</h2>\n\n<p>Your batch processing has finished successfully!</p>\n\n<p>Please find the results in the attached CSV file. The CSV contains:</p>\n<ul>\n  <li>Company information</li>\n  <li>Contact details</li>\n  <li>Links to Pre-Brief documents</li>\n  <li>Links to Sales Snapshot documents</li>\n</ul>\n\n<p>You can now access all the generated documents through the provided links.</p>\n\n<p><strong>Note:</strong> Make sure you have access to the Google Docs documents.</p>\n\n<hr>\n<p style=\"color: #666; font-size: 12px;\">Generated by Dream 100 Advantage - Prospect Intelligence System</p>",
        "options": {
          "attachments": "data:text/csv;base64,={{ $json.csv_base64 }}",
          "attachmentsPropertyName": "dream100_results.csv"
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process CSV Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
